.site-content {
  //@include responsify($spacing-lg, margin);
  display: flex;
  flex-flow: column;
  outline: solid 1px $color-black;
  flex: 1 1 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  @include media(">=md") {
    //flex-flow: row;
  }

  @media (prefers-color-scheme: dark)  {
    outline: solid 1px $color-white;
  }
}
