
@font-face{
  font-family:"Helvetica Neue LT W01_41488878";
  src:url("../fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
  src:url("../fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"),url("../fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"),url("../fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"),url("../fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype");
}
@font-face{
  font-family:"Helvetica Neue LT W01_85 Heavy";
  src:url("../fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix");
  src:url("../fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix") format("eot"),url("../fonts/dd7814bd-8abf-46c5-a4be-db0977de2cca.woff2") format("woff2"),url("../fonts/20ffa4b4-0154-4ca6-800c-468cecbd60f1.woff") format("woff"),url("../fonts/c68e9fac-92b0-47be-853c-1a0e92f68c3d.ttf") format("truetype");
}
